/*CSS reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Custom properties*/

/*Pseudo-classes*/
.fa-bell:hover{
    color: #a05a00;
}
.poap-up li:hover{
    background-color: rgb(187, 187, 187);
}
.search:hover{
    border: solid black 2px;
}
/*? Generics*/
header{
    background-color: white;
    height: 100px;
    width: 100%;
}
main{
    background-color: azure;
    height: calc(100vh - 100px);
}
a{
    text-decoration: none;
    color: black;
}
ul{
    list-style-type: none;
}
/*Utilties*/

/*!HEADER*/
.logo{
    height: 80px;
}
.search{
    width: 50px;
    height: 50px;
    background-color: #e5e5e5;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.search-bar{
    width: 100%;
    height: 50px;
    background-color: #e5e5e5;
    border: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.fa-magnifying-glass{
    padding-top: 25px;
    color: #212529;
}
.fa-bell{
    color: #ff8f00;
}
.poap-up{
    border: solid #ff8f00 1px;
    border-radius: 10px;
    padding-right: 40px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: white;
    margin: 5px;
    position: absolute;
    right: 0;
}
/*!RIGHT BAR*/
.right-bar{
    background-image: url(../img/sidebar-bg.png);
    background-color: #051e34;
    height: 100%;
}

/*!LEFT CONTENTS*/
.left-contents{
    overflow-y: scroll;
}